body {
    background-color: white;
}

h1 {
    font-family: arial;
    color: black;
    text-align: left;
}

h2 {
    font-family: arial;
    color: black;
    text-align: left;
}

p {
    font-family: arial;
    color: black;
    font-size: 18px;
    text-align: left;
}

a {
    font-family: arial;
    font-weight: bold;
    color: #FD5B25;
    font-size: 16px;
    text-align: right;
    text-decoration: none;
}

hr {
    border: none;
    border-top: 1px solid #FD5B25;
    color: #FD5B25;
    background-color: #FD5B25;
    height: 3px;
}           
    
.boxsocial {
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.boxheader {
    padding-top: 10px;
    padding-bottom: 30px;
    width: 100%;
}

.boxdate {
    text-align: left;
    font-weight: bold;
    float: left;
    width: 150px;
    font-family: arial;
    color: black;
    font-size: 18px;
}

.boxtime {
    text-align: left;
    font-weight: bold;
    float: left;
    width: 150px;
    font-family: arial;
    color: gray;
    font-size: 18px;
}

.boxtitlecontent {
    text-align: left;
    font-weight: bold;
    float: left;
    width: 596px;
    font-family: arial;
    color: black;
    font-size: 18px;
    padding-bottom: 10px;
}

.boxcontent {
    text-align: left;
    float: left;
    width: 596px;
    font-family: arial;
    color: black;
    font-size: 18px;
    padding-bottom: 10px;


