body {
    background-color: white;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 18px;
    text-align: left;
}

a {
    display: inline-block;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #FD5B25;
    font-size: 16px;
    text-align: right;
    text-decoration: none;
}

hr {
    border: none;
    border-top: 1px solid #FD5B25;
    color: #FD5B25;
    background-color: #FD5B25;
    height: 3px;
}    
    
.boxlogo {
    float: left;
    width: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.boxsocial {
    font-family: 'Open Sans', sans-serif;
    float: left;
    text-align: right;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 700px;    
}

.boxheader {
    font-family: 'Open Sans', sans-serif;
    float: left;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.boxdate {
    text-align: left;
    font-weight: bold;
    float: left;
    width: 160px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 18px;
}

.boxtime {
    text-align: left;
    font-weight: bold;
    float: left;
    width: 160px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    font-size: 18px;
}

.boxtitle {
    text-align: left;
    font-weight: bold;
    float: left;
    width: 586px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 18px;
    padding-bottom: 10px;
}

.boxcontent {
    text-align: left;
    float: left;
    width: 586px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 18px;
    padding-bottom: 10px;
}

