body {
    background-color: white;
}

h1 {
    font-family: arial;
    color: black;
    text-align: left;
}

h2 {
    font-family: arial;
    color: black;
    text-align: left;
}

p {
    font-family: arial;
    color: black;
    font-size: 18px;
    text-align: left;
}

ul {
    font-family: arial;
    color: black;
    font-size: 18px;
    text-align: left;
}

.boxsocial {
    margin: auto;
    width: 100%;
}

.boxheader {
    margin: auto;
    width: 100%;
}

.boxdate {
    float: left;
    margin: auto;
    padding: 10px;
    width: 150px;
    height: 200px;
}

.boxtitlecontent {
    float: left;
    margin: auto;
    padding: 10px;
    width: 500px;
    height: 200px;
}

